<!DOCTYPE html>
<html>
<head>
  <title>Assignments</title>
</head>
<body>
  <h2>Assignments</h2>
  <table>
    <tr>
      <th>Date</th>
      <th>Assignment</th>
      <th>Description</th>
      <th>Github</th>
      <th>Blog</th>
      <th>Students</th>
    </tr>
    <% @assignments.each do |assignment| %>
    <tr>
      <td><%= assignment['date'] %></td>
      <td><%= assignment['assignment'] %></td>
      <td><%= assignment['description'] %></td>
      <td><%= assignment['github'] %></td>
      <td><%= assignment['blog'] %></td>
      <td><%= assignment['student_id'] %></td>
    </tr>
  <% end %>
  </table>
  <br>
</body>
</html>